.canvas-top-icons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
  .Minimizedwindow-icon {
    width: 2.5%;
    padding-bottom: 1%;
  }
  .close-icon {
    // width: 3%;
  }
}
