@import "../common/common.scss";

.visitorList_container {
  // background-color: rgb(255, 244, 244);
  // background-color: white;
  background-color: #fae100;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .visitorList_header {
    // background-color: rgb(255, 168, 212);
    display: flex;
    border-bottom: 2px solid #5b2828;
    width: 100%;
    height: 10%;
    position: relative;
    .visitor_img_box {
      position: absolute;
      display: flex;
      // width: 50%;
      left: 40%;
      height: 100%;
      // justify-content: flex-end;
      // flex-direction: row;
      // align-items: center;
      .visitorList_context {
        font-size: 2rem;
        align-self: center;
        font-weight: 600;
        @media #{$desktop-middle-small-size} {
          font-size: 1.5em;
        }
      }
      .chatImg {
        color: blue;
        width: 30%;
      }
    }
    .logoutBtn {
      align-self: center;
      font-size: 1.5rem;
      position: relative;
      left: 90%;
      cursor: pointer;

      @media #{$desktop-max-size} {
        left: 85%;
      }
      @media #{$desktop-middle-size} {
        font-size: 1.3rem;
      }
      @media #{$desktop-middle-small-size} {
        font-size: 1rem;
      }
    }
  }
  .visitorList_list_container {
    width: 95%;
    height: 35%;
    // border: 1px solid #c5c5c5;
    border-radius: 10px;
    // margin-top: 1em;
    margin: 1em 0em;
    display: flex;
    padding: 0.5em 2em;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    .user_img_edit_container {
      width: 15%;
      height: 100%;
      // background-color: blue;
      .user_img_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5em;
        height: 80%;
        .userImgFile {
          display: none;
        }
        .loading {
          width: 100%;
          height: 63%;
          border-radius: 50%;
          border: 3px solid grey;
          border-top: 1px solid rgb(252, 179, 191);
          animation: spin 2s linear infinite;
        }

        .user_editor_img {
          // width: 15%;
          // height: 60%;

          height: 60%;
          background-color: rgb(245, 156, 156);
        }
        .imgBtn {
          height: 100%;
          background-color: white;
          border: 2px dashed #acabab;
          // border: dashed red;
          // border: none;
          cursor: pointer;

          @media #{$desktop-max-size} {
            font-size: 10px;
          }
        }
      }
      .editBtn {
        width: 100%;
        text-align: center;
        cursor: pointer;
        // background-color: #5b2828;
      }
    }
    .user_editor_container {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      align-items: flex-end;
      .user_editor_name_title {
        align-items: center;
        width: 90%;
        height: 30%;
        display: flex;
        // justify-content: space-between;
        flex-direction: row;
        .user_name {
          height: 80%;
          width: 20%;
          background-color: $input-color;
          border: $none-style;
          border-bottom: 0.1em solid rgb(189, 185, 185);
          font-size: 1em;
          padding: 1em;
          margin-right: 5%;
          padding-bottom: 0;
          padding-left: 0.5em;
          // padding: 0 0 0 0.5em;
          // font-weight: 800;
        }

        .user_title {
          height: 80%;
          font-size: 1em;
          width: 50%;
          background-color: $input-color;
          border: $none-style;
          border-bottom: 0.1em solid rgb(189, 185, 185);
          padding: 1em;
          margin-right: 5%;
          padding-bottom: 0;
          padding-left: 0.5em;
        }
        .user_name:focus,
        .user_title:focus {
          background-color: rgb(255, 249, 197);
        }
        .deleteContainer {
          .deleteBtn {
          }
          .nonmember-password {
          }
        }
      }
      .textarea_container {
        display: flex;
        width: 90%;
        height: 70%;
        flex-direction: column;
        // padding-top: 1em;
        .user_textarea {
          height: 80%;
          border: 2px solid #e0dfdf;
          // width: 70%;
        }
        .user_textarea:focus {
          border: none;
          outline: none;
          background-color: rgb(255, 249, 197);
          // width: 70%;
        }
        .user_submit {
          margin-top: 1em;
          width: 20%;
          height: 30%;
          background-color: #5b2828;
          color: white;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .visitorList_preview {
    background-color: #9bbad8;
    // overflow: scroll;
    border-radius: 10px;
    overflow: auto;
    width: 95%;
    height: 55%;
    // display: flex;
    // flex-direction: column;

    .cardContainer {
      width: 100%;
      height: 45%;
      display: flex;
      align-items: center;
      margin: 1em 0em;
      // background-color: rgb(255, 205, 205);
      border-radius: 0.5em;
      justify-content: space-around;

      @media #{$desktop-max-size} {
        height: 30%;
      }

      .cardImgContainer {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10%;
        align-items: center;
        height: 80%;
        border-radius: 1em;
        padding: 0.5em;
        .cardImg {
          height: 70%;
          width: 100%;
          border-radius: 50%;
        }
        .user_name {
          // height: 20%;
          font-size: 1.2em;
          font-weight: 800;

          @media #{$desktop-max-size} {
            font-size: 0.8em;
          }
        }
      }

      .user_card {
        background-color: white;
        width: 85%;
        height: 70%;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 1em;
        box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
        @media #{$desktop-middle-small-size} {
          // font-size: 10px;
          overflow: scroll;
        }
        .user_delete {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .user_title {
            font-size: 1.1em;
            font-weight: 700;
            @media #{$desktop-max-size} {
              font-size: 15px;
            }
            @media #{$desktop-middle-size} {
              font-size: 11px;
              overflow: scroll;
            }
          }
          .deleteBtn {
            cursor: pointer;
            color: gray;
          }
          .deleteBtn:hover {
            color: red;
          }
        }
        .user_message {
          @media #{$desktop-max-size} {
            font-size: 13px;
          }
        }
        .user_date {
          color: #b1b1b1;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
