@import "../common/common.scss";

.visitorList_container {
  background-color: rgb(255, 244, 244);
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .visitorList_Header {
    background-color: rgb(255, 168, 212);
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    height: 10%;
    .visitorList_context {
    }
    .logoutBtn {
    }
  }
  .visitorList_list_container {
    width: 95%;
    height: 35%;
    // background-color: khaki;
    display: flex;
    padding: 0.5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .user_img_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 15%;
      height: 90%;
      .userImgFile {
        display: none;
      }
      .loading {
        width: 100%;
        height: 63%;
        border-radius: 50%;
        border: 3px solid grey;
        border-top: 1px solid rgb(252, 179, 191);
        animation: spin 2s linear infinite;
      }

      .user_editor_img {
        // width: 15%;
        // height: 60%;

        height: 60%;
        background-color: rgb(245, 156, 156);
      }
      .imgBtn {
        height: 15%;
      }
    }
    .user_editor_container {
      width: 85%;
      height: 100%;
      display: flex;
      padding: 0.5em;
      flex-direction: column;
      align-items: center;
      .user_editor_name_title {
        align-items: center;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .user_name {
          height: 80%;
          width: 20%;
          background-color: $input-color;
          border: $none-style;
          border-bottom: 0.1em solid rgb(90, 90, 90);
          font-size: 1em;
        }
        .user_title {
          height: 80%;
          width: 50%;
          background-color: $input-color;
          border: $none-style;
          border-bottom: 0.1em solid rgb(90, 90, 90);
        }
        .theme {
          height: 60%;
          width: 20%;
        }
      }
      .textarea_container {
        display: flex;
        width: 100%;
        height: 70%;
        flex-direction: column;
        // padding-top: 1em;
        .user_textarea {
          height: 80%;
          border: 1px solid #c1a1a1;
          // width: 70%;
        }
        .user_textarea:focus {
          border: none;
          outline: none;
          // width: 70%;
        }
        .user_submit {
          margin-top: 1em;
          width: 20%;
          height: 30%;
          border: 1px solid #c1a1a1;
        }
      }
    }
    .user_submit {
    }
  }
  .visitorList_preview {
    background-color: white;
    // overflow: scroll;
    overflow: auto;
    width: 95%;
    height: 55%;
    // display: flex;
    // flex-direction: column;

    .cardContainer {
      width: 100%;
      height: 45%;
      display: flex;
      align-items: center;
      margin: 1em 0em;
      background-color: rgb(255, 205, 205);
      border-radius: 0.5em;
      justify-content: space-around;
      .dark {
        background-color: rgb(50, 255, 238);
      }
      .cardImgContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10%;
        align-items: center;
        height: 80%;
        .cardImg {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }
        .user_name {
          // height: 20%;
          font-size: 1.2em;
          font-weight: 800;
        }
      }

      .user_card {
        width: 85%;
        height: 70%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 1em;
        box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);

        .user_title {
          font-size: 1.1em;
          font-weight: 700;
        }
        .user_message {
        }
        .user_fileName {
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
