@import "../common/common.scss";
.visitorContainer {
  width: 100%;
  height: 100%;
  animation-duration: 300ms;
  .visitor-main-canvas {
    // border-radius: 1.5%;
    border-radius: 5px;
    background: white;
    width: 55%;
    height: 75%;
    margin-top: 6%;
    margin-left: 15%;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(240, 248, 255, 0.918) rgb(73, 73, 73) rgb(83, 83, 83)
      rgba(240, 248, 255, 0.918);

    .visitor-canvas-top {
      border-radius: 5px 5px 0px 0px;
      background-color: #c9c9c9;
      border: 3px solid #c1b5b5;
      border-bottom: none;
      height: 6%;
      width: 100%;
      .visitor-canvas-top-icons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .visitor-Minimizedwindow-icon {
          width: 2.5%;
          padding-bottom: 1%;
        }
        .visitor-close-icon {
          width: 3%;
        }
      }
    }
    .visitor_context {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // border-style: solid;
      // border-width: 1px 4px 4px 3px;
      // border-color: #c1b5b5;
      // width: 100%;
      // height: 94%;
      // border-radius: 0 0 1% 1%;
      // background-color: rgba(251, 220, 255, 0.904);

      .visitor_login_container {
        background-color: white;
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #f2d1d1;
        border-radius: 10px;
        justify-content: space-evenly;
        .computerImg {
          height: 60%;
          width: 70%;
          padding: 5% 0%;
          border-bottom: 2px solid rgb(218, 216, 216);
          // padding: 5% 0%;
        }
        .visitor_header {
          font-size: 1.4em;
          font-weight: 800;
        }
        .visitor_btn_container {
          width: 60%;
          height: 30%;
          display: flex;
          justify-content: center;
          justify-content: space-evenly;
          .google_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 6%;
            .Google {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
            .googleLogin {
              font-size: 1.1rem;
              font-weight: bolder;
              border: 2.5px solid #c4cdff;
              // padding: 6%;
              border-radius: 15px;
            }
          }
          .github_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 6%;
            .Github {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
            .githubLogin {
              font-size: 1.1rem;
              font-weight: bolder;
              border: 2.5px solid #c4cdff;
              // padding: 5%;
              border-radius: 15px;
            }
          }
          .facebook_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 6%;
            .Facebook {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
            .facebookLogin {
              font-size: 1.1rem;
              font-weight: bolder;
              border: 2.5px solid #c4cdff;
              // padding: 5%;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
}
