@import "../common/common.scss";

.visitorContainer {
  @include container;

  .visitor-main-canvas {
    border-radius: 5px;
    background: white;
    width: 60%;
    height: 75%;
    margin-top: 6%;
    margin-left: 15%;
    @include outline-canvas;
    @media #{$desktop-max-middle-size} {
      height: 65%;
      width: 70%;
    }
    @media #{$desktop-middle-size} {
      // height: 65%;
      width: 70%;
    }
    @media #{$desktop-middle-small-size} {
      width: 70%;
      height: 55%;
    }

    .visitor-canvas-top {
      @include canvas-top-styling;
    }
    .visitor_context {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(251, 220, 255, 0.904);
      @include canvas-main;

      .visitor_login_container {
        background-color: white;
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #f2d1d1;
        border-radius: 10px;
        justify-content: space-evenly;
        .computerImg {
          height: 60%;
          width: 70%;
          padding: 5% 0%;
          border-bottom: 2px solid rgb(218, 216, 216);
          // padding: 5% 0%;
        }
        .visitor_header {
          font-size: 1.4em;
          font-weight: 800;
        }
        .visitor_btn_container {
          width: 60%;
          height: 30%;
          display: flex;
          justify-content: center;
          justify-content: space-evenly;
          .google_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // padding: 6%;
            .Google {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
          }
          .github_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // padding: 6%;
            .Github {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
          }
          .facebook_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // padding: 6%;
            .Facebook {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
          }
          .nonMember_container {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .nonMember {
              width: 100%;
              height: 48%;
              margin-bottom: 5%;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
