.videos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  background-color: #f9f9f9;
}
.on {
  width: 30%;
  background-color: #f9f9f9;
}

@media screen and (max-width: 1000px) {
  .on {
    width: 100%;
  }
}
