@import "../common/common.scss";
@import "../common/size.scss";

.youtubeLogin {
  @include container;

  .youtube-main-canvas {
    background: white;
    width: 60%;
    height: 70%;
    @include outline-canvas;
    margin-top: 6%;
    margin-left: 15%;
    @media #{$desktop-max-size} {
      width: 70%;
      height: 60%;
    }
    @media #{$desktop-max-middle-size} {
      // width: 70%;
      height: 50%;
    }
    @media #{$desktop-middle-small-size} {
      // width: 70%;
      height: 45%;
    }
  }
  .youtube-canvas-top {
    @include canvas-top-styling;
  }
  .login {
    background-color: #c9c6ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include canvas-main;
    padding: 3em;

    .youtubeGif {
      width: 50%;
      height: 60%;
    }
    .youtubeLogo {
      width: 10%;
      height: 20%;
    }
    .formContainer {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 30%;
      .id_input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #a7a7a7;
        margin-bottom: 1em;
        margin-top: 1em;
        font-size: 1.2em;
      }
      .login_button {
        cursor: pointer;
        width: 100%;
        height: 2em;
        font-size: 1em;
        border: none;
        background-color: #9178c2;
        font-weight: bolder;
        box-shadow: 1px 4px 0 rgba(34, 34, 34, 0.5);
        align-self: center;
      }
      .login_button:hover {
        background-color: #fcfcfc;
      }
      .login_button:active {
        box-shadow: 1px 1px 0 rgba(34, 34, 34, 0.5);
        position: relative;
        top: 5px;
      }
    }
  }
  .canvas-title {
    display: flex;
    position: relative;
  }
}
