.youtubeLogin {
  width: 100%;
  height: 100%;
  animation-duration: 300ms;
  .youtube-main-canvas {
    background: white;
    width: 50%;
    height: 70%;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(240, 248, 255, 0.918) rgb(73, 73, 73) rgb(83, 83, 83)
      rgba(240, 248, 255, 0.918);
    margin-top: 6%;
    margin-left: 15%;
  }
  .youtube-canvas-top {
    background-color: #c9c9c9;
    border-radius: 5px;
    width: 100%;
    height: 6%;
    border: 2px solid #c1b5b5;
    margin-bottom: 0.3%;
  }
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 94%;
    background-color: #c9c6ff;
    border-radius: 10px;
    border-width: 1px 2px 2px 1px;
    border-color: #c1b5b5;
    border-style: solid;
    justify-content: center;
    padding: 3em;

    .youtubeGif {
      width: 50%;
      height: 50%;
    }
    .youtubeLogo {
      width: 10%;
      height: 20%;
    }
    .formContainer {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 30%;
      .id_input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #a7a7a7;
        margin-bottom: 1em;
        margin-top: 1em;
        font-size: 1.2em;
      }
      .login_button {
        cursor: pointer;
        width: 100%;
        height: 2em;
        font-size: 1em;
        border: none;
        background-color: #9178c2;
        font-weight: bolder;
        box-shadow: 1px 4px 0 rgba(34, 34, 34, 0.5);
        align-self: center;
      }
      .login_button:hover {
        background-color: #fcfcfc;
      }
      .login_button:active {
        box-shadow: 1px 1px 0 rgba(34, 34, 34, 0.5);
        position: relative;
        top: 5px;
      }
    }
  }
  .canvas-title {
    display: flex;
    position: relative;
  }
}
