@import "../common/size.scss";

@keyframes nav-animation {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(none);
  }
}

.navContainer_youtube {
  background-color: white;
  border-bottom: 2px solid #ededed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;

  .logoContainer {
    width: 20%;
    display: flex;
    align-items: center;
    cursor: pointer;

    .logo_youtube {
      font-size: 2.3em;
      font-weight: bolder;
      margin-left: 0.3em;
      letter-spacing: -3px;
      @media #{$desktop-max-size} {
        font-size: 2em;
      }
    }
  }
  .searchContainer {
    display: flex;
    height: 2.8em;
    width: 35%;
    align-items: center;
    justify-content: center;

    .search {
      height: 100%;
      width: 100%;
      border: 1px solid lightgray;
      padding: 1em;
      font-size: 1.3em;
      margin-right: 1%;

      @media #{$desktop-max-size} {
        padding: 0.5em;
        height: 85%;
      }
    }
    .searchImg2 {
      font-size: 2em;
      cursor: pointer;

      @media #{$desktop-max-size} {
        font-size: 1.5em;
      }
    }
  }
  // .searchImg {
  //   height: 80%;
  //   cursor: pointer;
  // }
  .userName {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-weight: 900;

    @media #{$desktop-max-size} {
      font-size: 1em;
    }
    @media #{$desktop-middle-size} {
      font-size: 0.8em;
    }
  }
  .homeLink {
    width: 5%;
    display: flex;
    justify-content: flex-end;

    .homeIcon {
      font-size: 2em;
      display: flex;
      justify-content: center;
    }
  }
}
