.navContainer_youtube {
  // background-color: rgb(0, 0, 0);
  background-color: white;
  border-bottom: 1px solid #c7c5c5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;
  .logoContainer {
    width: 20%;
    display: flex;
    align-items: center;
    cursor: pointer;
    .logo_youtube {
      font-size: 2em;
      font-weight: bolder;
      margin-left: 0.3em;
    }
  }
  .searchContainer {
    display: flex;
    height: 2.8em;
    width: 35%;
    align-items: center;
    justify-content: center;

    .search {
      height: 100%;
      width: 100%;
      border: 1px solid lightgray;
      padding: 1em;
      font-size: 1.3em;
      margin-right: 1%;
    }
    .searchImg2 {
      font-size: 2em;
      cursor: pointer;
    }
  }
  // .searchImg {
  //   height: 80%;
  //   cursor: pointer;
  // }
  .userName {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
  }
  .homeLink {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    .homeIcon {
      font-size: 2em;
      display: flex;
      justify-content: center;
    }
  }
}
