.youtubeLogin {
  width: 30%;
  margin-top: 15em;
  animation-duration: 300ms;
  .youtube-main-canvas {
    background: white;
    width: 29em;
    height: 22em;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: rgba(240, 248, 255, 0.918) black black
      rgba(240, 248, 255, 0.918);
    transform: scale(1.06);
  }

  .youtube-canvas-top {
    width: 100%;
    height: 8%;
    background-color: #2149cc;
    margin: 0;
  }

  .youtube-canvas-top-icons {
    display: flex;
    justify-content: flex-end;
    .Minimizedwindow-icon {
      padding-bottom: 5px;
      margin-right: 5px;
      cursor: pointer;
    }
    .close-icon {
      cursor: pointer;
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    .formContainer {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      .form_id,
      .form_pw {
        font-size: 1em;
        font-weight: bolder;
        margin-bottom: 0.5em;
      }
      .id_input,
      .pw_input {
        height: 2.3em;
        border: 2px solid #dfdfdf;
        margin-bottom: 0.5em;
        border-radius: 5px;
      }
      .button {
        .login_button {
          width: 100%;
          height: 2em;
          margin-top: 1em;
          font-size: 1em;
          border: none;
        }
      }
    }
  }
  .canvas-title {
    display: flex;
    position: relative;
  }
}
