.detail_list_Container {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  .detailContainer {
    flex: 1 1 70%;
    background-color: rgb(245, 184, 184);
    padding: 50px;
    .detail {
    }
  }
  .listContainer {
    width: 80%;
  }
}
