.navContainer {
  width: fit-content;
  height: fit-content;
  background-color: rgb(223, 253, 255);
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 50px;

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .imgElement {
      margin-bottom: 50px;
      cursor: pointer;
      transition: all 0.3s;
      // transition: transform 200ms ease-in;

      p {
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-style: inherit;
        // text-shadow: 1px 2px black;
        text-align: center;
        // text-shadow: 1px 2px rgb(0 0 0);
      }
    }
  }
}
