.navContainer {
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .imgContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50%;

    .imgElement {
      margin-bottom: 50px;
      cursor: pointer;
      transition: all 0.3s;
      transition: transform 200ms ease-in;

      p {
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-style: inherit;
        text-shadow: 5px 3px 3px #000000;
        text-align: center;
      }
    }
  }
}
