// @import "../common/common.scss";
@import "../common/common.scss";
@import "../common/size.scss";

.introContainer {
  overflow-y: hidden;
  display: flex;
  @include container;

  .intro-main-canvas {
    width: 65%;
    height: 90%;
    margin-top: 3%;
    margin-left: 15%;
    background-color: #ffffff;
    @include outline-canvas;
    transition: all 3s;
    .intro-canvas-top {
      @include canvas-top-styling;
    }
    .readContainer {
      width: 100%;
      height: 95%;
      background-color: rgb(255, 255, 255);
      display: flex;
      border-radius: 10px;
      border-width: 1px 4px 4px 3px;
      border-color: #f9bfbf;
      border-style: solid;
      @media #{$desktop-middle-size} {
        flex-direction: column;
      }
      .selfie_container {
        background-color: #ffffb9;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        @media #{$desktop-middle-size} {
          width: 100%;
          height: 30%;
        }
        .selfie2Img {
          width: 90%;
          height: 45%;
          @media #{$desktop-max-middle-size} {
            height: 20%;
          }
          @media #{$desktop-middle-size} {
            width: 20%;
            height: 40%;
          }
          @media #{$desktop-middle-small-size} {
            width: 25%;
            // height: 40%;
          }
        }
        .selfie_btn_container {
          width: 80%;
          height: 20%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          @media #{$desktop-max-middle-size} {
            height: 10%;
          }
          @media #{$desktop-middle-size} {
            height: 30%;
          }
          .heartContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50%;
            @media #{$desktop-middle-size} {
              // height: auto;
            }
            .selfie_heart {
              font-size: 60px;
              cursor: pointer;
              @media #{$desktop-max-middle-size} {
                font-size: 35px;
              }
              @media #{$desktop-middle-size} {
                font-size: 30px;
              }
            }
            .heart_color {
              color: red;
              --animation: bounce;
              animation-duration: 700ms;
            }
            .heart_count {
              font-size: 1.1rem;
              font-weight: 600;
              @media #{$desktop-max-middle-size} {
                font-size: 10px;
              }
              @media #{$desktop-middle-size} {
                font-size: 5px;
              }
            }
          }
          .selfieGithub,
          .selfievelogImg {
            // width: 25%;
            height: 50%;
            cursor: pointer;
            @media #{$desktop-middle-size} {
              width: 10%;
              // height: auto;
            }
          }
        }
      }
      .contextContainer {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 3%;
        border: 2px solid #fec6c6;
        @media #{$desktop-middle-size} {
          font-size: 13px;
          overflow: scroll;
          width: 100%;
          height: 70%;
        }
        .contextHeader {
          font-weight: 800;
          font-size: 1.3rem;
          padding-bottom: 2%;
        }
        .titleContainer {
          display: flex;
          flex-direction: column;
          height: 60%;
          justify-content: space-evenly;
          @media #{$desktop-middle-size} {
            margin-top: 6%;
          }
          .title-header {
            padding-bottom: 1.5%;
            .context-title {
              padding-bottom: 1%;
              font-weight: 800;
            }
          }
        }
        .introduceContext {
          line-height: 150%;
          .skill {
            font-weight: 900;
            color: #edb20c;
          }
          .service {
            font-weight: 900;
            color: #9b9b9b;
          }
        }
      }
    }
    .test {
      width: 100%;
      height: 94.5%;
      position: relative;

      .backImg {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .selfieContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        @include canvas-main;
        height: 100%;
        justify-content: center;

        .selfie {
          width: 40%;
        }
        .clickHeader {
          font-weight: bolder;
          font-size: 5em;
          cursor: pointer;
          text-shadow: 5px 5px 2px #c77d7d;
          color: #24314e;
          padding-top: 3%;
          @media #{$desktop-max-middle-size} {
            font-size: 4em;
          }
        }
        .clickHeader:hover {
          --animation: bounce;
        }
      }
    }
  }
}
