@import "../common/common.scss";

.introContainer {
  overflow-y: hidden;
  display: flex;
  @include container;

  .intro-main-canvas {
    width: 65%;
    height: 90%;
    margin-top: 3%;
    margin-left: 15%;
    background-color: #ffffff;
    @include outline-canvas;

    .intro-canvas-top {
      @include canvas-top-styling;
    }
    .readContainer {
      width: 100%;
      height: 95%;
      background-color: rgb(255, 255, 255);
      display: flex;
      border-radius: 10px;
      border-width: 1px 4px 4px 3px;
      border-color: #f9bfbf;
      border-style: solid;
      .selfie_container {
        background-color: #ffffb9;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        .selfie2Img {
          width: 80%;
          height: 40%;
        }
        .selfie_btn_container {
          width: 80%;
          height: 20%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          .heartContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50%;
            .selfie_heart {
              font-size: 60px;
              cursor: pointer;
            }
            .heart_color {
              color: red;
              --animation: bounce;
              animation-duration: 700ms;
            }
            .heart_count {
              font-size: 1.1rem;
              font-weight: 600;
            }
          }
          .selfieGithub,
          .selfievelogImg {
            width: 25%;
            height: 50%;
            cursor: pointer;
          }
        }
      }
      .contextContainer {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 3%;
        border: 2px solid #fec6c6;
        .contextHeader {
          font-weight: 800;
          font-size: 1.3rem;
          padding-bottom: 2%;
        }
        .titleContainer {
          display: flex;
          flex-direction: column;
          height: 60%;
          justify-content: space-evenly;
          .title-header {
            padding-bottom: 1.5%;
            .context-title {
              padding-bottom: 1%;
              font-weight: 800;
            }
          }
        }
        .introduceContext {
          line-height: 150%;
        }
      }
    }

    .test {
      width: 100%;
      height: 94.5%;
      position: relative;

      .backImg {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .selfieContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        @include canvas-main;
        height: 100%;
        justify-content: center;

        .selfie {
          width: 40%;
        }
        .clickHeader {
          font-weight: bolder;
          font-size: 5em;
          cursor: pointer;
          text-shadow: 5px 5px 2px #c77d7d;
          color: #24314e;
          padding-top: 3%;
        }
        .clickHeader:hover {
          --animation: bounce;
        }
      }
    }
  }
}
