body {
  margin: 0;
  background-color: rgb(223, 253, 255);
}
.container {
  display: flex;
}

.main {
  background-color: rgb(235, 192, 192);
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
}

* {
  box-sizing: border-box;
}
