@import "./styles/common/common.scss";
.App {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: rgb(47, 112, 121);
  // min-width: 720px;
  // min-height: 100vh;

  // cursor: url("src/images/cursor.png");

  .bootingImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .hidden {
    visibility: hidden;
  }

  .container {
    display: flex;
    height: 96%;
    width: 100%;

    .main {
      width: 90%;
      height: 100%;
      justify-content: center;
      display: flex;
    }
  }
}

// @media only screen and (max-width: 1024px) {
//   // .App {
//   //   background-color: rgb(159, 167, 168);
//   // }
// }
@media screen and (max-width: 1200px) {
  ////스타일링
  // @include desktop;
}
@media screen and (max-width: 768px) {
  ////스타일링
  // @include desktop;
}
